
.Blog {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .Login{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 25%;
    margin-right: 25%;
  }

  .form-inline {
      margin-top:  5%;
      width: 80%;
      height: 5%;
  }
  .btn{
      margin-bottom: 23%;
  }